///////////////////////////////////////
// css theme variables / settings


$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-font-family:  Menlo, Monaco, "Courier New", monospace;


$masthead-color:         #f9f9f9;
$masthead-small-color:   #f9f9f9;

$post-title-color:       #f9f9f9;
$post-date-color:        #f9f9f9;


$body-color:            #f9f9f9;
$body-background-color: #000;

$link-color:            #f9f9f9;

$headings-color:        #f9f9f9;    // h1,h2,h3,h4,h5,h6

$strong-color:          #f9f9f9;    // strong

$pre-background-color:  #f9f9f9;    // pre

$blockquote-color:        #f9f9f9;  // blockquote
$blockquote-border-color: #f9f9f9;

$table-border-color:         #f9f9f9;
$table-odd-background-color: #f9f9f9;
